* {
   box-sizing: border-box;
}

$base-padding: 20px;

/* breakpoints */
$tablet: 700px;
$desktop: 1024px;

/* colours */
$accent: orange;
$text-accent: #888;
$light-gray: #ddd;
$mid-gray: #ccc;
$black: #222;

/* fonts */
$accent-font: serif;

%full-width {
  width: 100%;
  margin: 0 auto;
  padding: $base-padding;
}

%content-width {
  @extend %full-width;
  max-width: 800px;
}

html, body {
  min-height: 100vh;
}

body {
  font: 16px/1.5 'Helvetica Neue', sans-serif;
  color: $black;
  margin: 0;
  min-height: inherit;
  display: flex;
  flex-flow: column nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  @extend %full-width;
  padding: $base-padding;

  h1 {
    font-size: 2rem;
    color: $light-gray;

    @media (min-width: $tablet) {
      font-size: 4rem;
    }

    a {
      text-decoration: none;
    }
  }
}

.home-template article {
  &:hover {
    background: lighten($light-gray, 10%);
  }
}

main {
  @extend %content-width;

  article {
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 5px;

    .post-title {
      font-size: 2rem;

      @media (min-width: $tablet) {
        font-size: 3rem;
      }
    }

    h2 {
      font-size: 1.5rem;

      @media (min-width: $tablet) {
        font-size: 2.2rem;
      }
    }

    .post-meta {
      font-size: .85rem;

      img {
        width: 40px;
        border-radius: 50%;
        position: initial;
      }
    }

    p,
    .post-meta {
      a {
        text-decoration: underline;
        -webkit-text-decoration-color: $mid-gray;
                text-decoration-color: $mid-gray;

        &:hover {
        -webkit-text-decoration-color: $black;
                text-decoration-color: $black;
        }
      }
    }

    blockquote {
      color: $text-accent;
      font-size: 1.2rem;
      font-style: italic;
      font-family: $accent-font;
    }
  }

  img {
    max-width: 100%;

    &[src$="#full"] {
      width: 100vw;
      max-width: 100vw;
      margin-left: -36px;

      @media (min-width: $desktop) {
        max-width: 100vw;
        width: 100vw;
        margin-left: calc(-50vw + 364px);
      }
    }
  }
}

.footer-wrapper {
  background: #f0f0f0;
  margin-top: auto;

  footer {
    @extend %content-width;

    .footer-logo {
      opacity: .4;
      margin-bottom: 1em;
      margin-right: 12px;
      max-width: 80px;
    }

    .icon {
      width: 24px;
      position: relative;
      top: -5px;
      margin-left: auto;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    p,
    li {
      font-size: .85rem;
      margin: 0 0 .5em;
      opacity: .8;
    }

    .footer-bottom {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-top: 1em;
    }

    @media (min-width: $tablet) {
      nav,
      ul {
        flex-direction: row;
      }

      nav {
        align-items: baseline;

        .footer-logo {
          position: relative;
          top: 2px;
        }
      }

      li {
        &:not(:first-child) {
          margin-left: $base-padding;
        }

        &.social {
          margin-left: auto;
        }
      }
    }
  }
}

